.style{
    color: #66bfbf;
    text-align: center;
    font-style: italic;
    font-size: 5.625rem;
}

.color{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    color: #66bfbf;
}

.top-cloud{
    display: block;
    margin-left: 60%;
}

.bottom-cloud{
    display: block;
    margin-left: 20%;
}

.mountain{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#top-page{
    background-color:#e4f9f5;
}

.photo{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;   
    
}

.middle-page{
    margin: 100px 0;
}

.first{
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    color: #66bfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

.p-first{
    width: 40%;
    margin: auto;
    line-height: 2;
    text-align: center;
    font-size: x-large;
}

.second{
    color: #66bfbf;
    font-family: sans-serif , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.gif{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.third{
    color: #66bfbf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-second{
    line-height: 2;
}

.fourth{
    color: #66bfbf;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}

.btn{
    background: #11cdd4;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 540px;
    
}

a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: x-large;

}

.bottom-page{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    height: 50%;
}

.copyright{
    text-align: center;
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

body{
    text-align: center;
}





